@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background_color: #3a3a3a;
    --title_color: #fff;
    --button_color: #5c5c5c;
    --button_color_active: #636363;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
    background-color: var(--background_color);
}

h1 {
    color: var(--title_color);
    font-size: 3em;
    padding: 20px;
    margin-bottom: 20px;
}

#container {
    display: flex;
    align-items: flex-start;
    text-indent: 10px;
    flex-direction: column;
    margin: auto;
    background-color: #fff;
    width: 40vw;
    height: 70vh;
    border-radius: 20px 0;
}

.form {
    margin-top: 10px;
}

label {
    font-size: 1.4em;
    font-weight: 600;
}

input {
    font-size: 1.4em;
}

.add {
    font-weight: 600;
    font-size: 1.4em;
    border: none;
    padding: 4px;
    cursor: pointer;
    background-color: var(--button_color);
    color: var(--title_color);
}

.add:hover {
    background-color: var(--button_color_active);
}

ul {
    list-style: none;
}

li {
    text-align: left;
    margin-top: 8px;
}




